body {
     background-color: #ADD8e6;
	 background-repeat: no-repeat;
	 background-position: center center;
}
#logo {
     float: left;
	 margin-bottom: 2px;
}	 
header { 
     background-color: #8AC7DB;
     font-family: verdana, arial, serif;
	 font-weight: bold;
	 text-align: center;	 
}
nav { 
     float: left;
	 font-family: cambria, arial, serif;
	 font-style: italic;
	 text-align: justify;
	 box-sizing: border-box;
	 height: 130px;
	 width: 800px;
	 border-color: black;
	 border-width: 3px;
	 border-style: solid;
	 padding: 20px;
	 margin-top: 20px;
	 margin-bottom: 2px;
	 margin-left: 100px;
	
}	 
#homedirect {
     float: left; 
	 width: 140px;
	 margin-left: 40px;
	 
}
#victimdirect {
     float: left;	
	 width: 140px;
}
#bystanderdirect {
     float: left;	
	 width: 140px;
	 margin-right: auto;
}
#bullydirect {
     float: left;	
	 width: 140px;
}
#contactsdirect {
     float: left;	
	 width: 140px;
}
p { 
	 font-family: "Times New Roman", arial, serif;
	 font-style: italic;
	 color: #1E5162;
	 text-align: justify;
	 box-sizing: border-box;
	 width: 500px;
	 border-color: black;
	 border-width: 3px;
	 border-style: solid;
	 padding: 20px;
	 margin: auto;
}
#line {
	 float: left;
	 clear: left;
	 width: 1450px;
	 border-color: black;
	 border-width: 3px;
	 border-style: solid;
	 margin: 20px; 
}	 
#Tagline { 
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
	 margin-bottom: 10px	 
}
#Taglinep4 { 
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
	 margin-bottom: 0px	 
}
#infotag { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: right;
	 box-sizing: border-box;
	 margin-right: 100px;
	 margin-bottom: 55px
}
#whattag { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
}
#picture {
	 float: right;
	 margin-right: 100px;
}	 
#homepage {	
     background-color: #8AC7DB;
     height: 600px;
     width: 1300px;
	 margin-left: 100px;
	 margin-right: 150px;
	 margin-top: 210px;
}	
#difference { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
}
#whatisbystander { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
}
#whypeoplebully { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
}
#ifyoubully { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
}
#contactinfo { 
	 font-family: fantasy, arial, serif;
	 color: #189AB4;
	 text-align: center;
	 float: left;
	 clear: left;
	 margin-left: 100px;
}
#victims {
	 float: right;
	 margin-right: 100px;
	 margin-top: 35px;
}	 
#bystanding {
	 float: right;
	 margin-right: 100px;
	 margin-top: 35px;
}	 
#bullyimage {
	 float: right;
	 margin-right: 100px;
	 margin-top: 35px;
}
#whattodo { 
	 font-family: verdana, arial, serif;
	 color: #189AB4;
	 float: left;
	 clear: left;
	 margin-left: 50px;
	 margin-top: 32px;
}
#whattodoheader {
	 margin-left: 50px;
}
ul {
	 font-size: 13px;
}	 
#askhelp {
	 float: right;
	 margin-right: 100px;
	 margin-top: 30px;
}	 
#empathy {
	 float: right;
	 margin-right: 100px;
	 margin-top: 30px;
}	 
#page1 {	
     background-color: #8AC7DB;
     height: 840px;
     width: 1300px;
	 margin-left: 100px;
	 margin-right: 150px;
	 margin-top: 210px;
}	
#page2 {	
     background-color: #8AC7DB;
     height: 750px;
     width: 1300px;
	 margin-left: 100px;
	 margin-right: 150px;
	 margin-top: 210px;
}	
#page3 {	
     background-color: #8AC7DB;
     height: 950px;
     width: 1300px;
	 margin-left: 100px;
	 margin-right: 150px;
	 margin-top: 210px;
}	
#page4 {	
     background-color: #8AC7DB;
     height: 550px;
     width: 1300px;
	 margin-left: 100px;
	 margin-right: 150px;
	 margin-top: 210px;
}	
h5 {
	 float: left;
	 margin-left: 100px;
}
audio {
	 float: left;
	 margin-left: 20px;
	 margin-top: 15px;
	 width: 200px;
	 height: 30px;
}
#page1music {
	 float: left;
	 position: absolute;
	 margin-left: 100px;
	 margin-top: 770px;
	 width: 200px;
	 height: 30px;
}
#page2and3music {
	 float: left;
	 margin-left: 100px;
	 margin-top: 15px;
	 width: 200px;
	 height: 30px;
}

#facebook {
	 background: url('../images/socmeds.jpg') no-repeat -15px -31px;
	 width: 66px;
	 height: 82px;
	 position: absolute;
	 margin-left: 700px;
	 margin-top: 510px;
}
#facebook:hover {
	 opacity: 0.5;
}	 
#twitter {
	 background: url('../images/socmeds.jpg') no-repeat -127px -31px;
	 width: 82px;
	 height: 82px;
	 position: absolute;
	 margin-left: 800px;
	 margin-top: 510px;
}
#twitter:hover {
	 opacity: 0.5;
}
#instagram {
	 background: url('../images/socmeds.jpg') no-repeat -591px -31px;
	 width: 81px;
	 height: 82px;
	 position: absolute;
	 margin-left: 900px;
	 margin-top: 510px;
}
#instagram:hover {
	 opacity: 0.5;
}
#facebookp1 {
	 background: url('../images/socmeds.jpg') no-repeat -15px -31px;
	 width: 66px;
	 height: 82px;
	 position: absolute;
	 margin-left: 100px;
	 margin-top: 750px;
}
#facebookp1:hover {
	 opacity: 0.5;
}
#twitterp1 {
	 background: url('../images/socmeds.jpg') no-repeat -127px -31px;
	 width: 82px;
	 height: 82px;
	 position: absolute;
	 margin-left: 200px;
	 margin-top: 750px;
}
#twitterp1:hover {
	 opacity: 0.5;
}
#instagramp1 {
	 background: url('../images/socmeds.jpg') no-repeat -591px -31px;
	 width: 81px;
	 height: 82px;
	 position: absolute;
	 margin-left: 300px;
	 margin-top: 750px;
}
#instagramp1:hover {
	 opacity: 0.5;
}
#facebookp2 {
	 background: url('../images/socmeds.jpg') no-repeat -15px -31px;
	 width: 66px;
	 height: 82px;
	 position: absolute;
	 margin-left: 700px;
	 margin-top: 650px;
}
#facebookp2:hover {
	 opacity: 0.5;
}
#twitterp2 {
	 background: url('../images/socmeds.jpg') no-repeat -127px -31px;
	 width: 82px;
	 height: 82px;
	 position: absolute;
	 margin-left: 800px;
	 margin-top: 650px;
}
#twitterp2:hover {
	 opacity: 0.5;
}
#instagramp2 {
	 background: url('../images/socmeds.jpg') no-repeat -591px -31px;
	 width: 81px;
	 height: 82px;
	 position: absolute;
	 margin-left: 900px;
	 margin-top: 650px;
}
#instagramp2:hover {
	 opacity: 0.5;
}
#facebookp3 {
	 background: url('../images/socmeds.jpg') no-repeat -15px -31px;
	 width: 66px;
	 height: 82px;
	 position: absolute;
	 margin-left: 700px;
	 margin-top: 830px;
}
#facebookp3:hover {
	 opacity: 0.5;
}
#twitterp3 {
	 background: url('../images/socmeds.jpg') no-repeat -127px -31px;
	 width: 82px;
	 height: 82px;
	 position: absolute;
	 margin-left: 800px;
	 margin-top: 830px;
}
#twitterp3:hover {
	 opacity: 0.5;
}
#instagramp3 {
	 background: url('../images/socmeds.jpg') no-repeat -591px -31px;
	 width: 81px;
	 height: 82px;
	 position: absolute;
	 margin-left: 900px;
	 margin-top: 830px;
}
#instagramp3:hover {
	 opacity: 0.5;
}
#facebookp4 {
	 background: url('../images/socmeds.jpg') no-repeat -15px -31px;
	 width: 66px;
	 height: 82px;
	 position: absolute;
	 margin-left: 900px;
	 margin-top: 455px;
}
#facebookp4:hover {
	 opacity: 0.5;
}
#twitterp4 {
	 background: url('../images/socmeds.jpg') no-repeat -127px -31px;
	 width: 82px;
	 height: 82px;
	 position: absolute;
	 margin-left: 1000px;
	 margin-top: 455px;
}
#twitterp4:hover {
	 opacity: 0.5;
}
#instagramp4 {
	 background: url('../images/socmeds.jpg') no-repeat -591px -31px;
	 width: 81px;
	 height: 82px;
	 position: absolute;
	 margin-left:1100px;
	 margin-top: 455px;
}
#instagramp4:hover {
	 opacity: 0.5;
}
